*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-solid{
    font-size: 30px;
    color: aliceblue;
}

.container-fluid{

    color: aliceblue;
}

.body{
    background-color: aliceblue;
}


.navbar {
    display: flex;
    justify-content: space-between;

}

.bg-body-tertiary{
    background-color: rgba(141, 6, 6, 1) !important;
}

.nav-link{
    color: azure;
}

