* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(245, 245, 245, 1);
}

.navbar-brand {
    font-size: 20px;
    width: 100px;
}

.bg-body-tertiary {

    background-color: rgba(240, 248, 255, 0) !important;
}

.navbar-expand-lg bg-body-tertiary {
    color: rgb(255, 255, 255);
}


label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 0 !important;
}

.h11 {
    color: hsl(0, 0%, 0%);

}

form {
    display: flex;
    flex-direction: column;
    color: rgba(245, 245, 245, 1);
}


button {
    border: 0;
    height: 50px;
    width: 500px;
    background-color: rgba(217, 217, 217, 1);
}

h1{
    height: 30px;
    
}

.h12 {
   
    color: black;
    border: 0;
}



img {
    width: 50px;
}


.fa-solid{
    font-size: 30px;
    color: aliceblue;
}

.container-fluid{
    
    color: aliceblue;
}



.navbar {
    display: flex;
    justify-content: space-between;

}

.bg-body-tertiary{
    background-color: rgba(141, 6, 6, 1) !important;
}

.nav-link{
    color: white !important;
    margin-left: 30px;
}

input{
    border: 0 !important;
    background-color: rgba(217, 217, 217, 1) !important;
    height: 30px;
}

textarea{
     border: 0 !important;
    background-color: rgba(217, 217, 217, 1) !important;
    height: 50px;

}

